@import './parts-editor';
@import './world.scss';

#content{
  &>div{
    display:flex;
    flex-direction:column;
    margin:0;
    height:100%;
    justify-content:space-between;
  }
}
body{
  background-color: #111;
}
.scene{
  display:flex;
  align-self:stretch;
  align-content:stretch;
  height:100%;
}
.menu{
  a{
    margin-right:10px;
  }
}
